[Unit]
Description=Celery Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/vpn_server/crypton
ExecStart=/usr/local/bin/celery -A crypton flower --port=5001
Restart=always

[Install]
WantedBy=multi-user.target